fileTypes: [
  "glsl"
  "frag"
  "vert"
]
name: "OpenGL SL"
patterns: [
  {
    begin: "//"
    end: "$"
    name: "comment.line.double-slash.glsl"
  }
  {
    begin: "/\\*"
    beginCaptures:
      "0":
        name: "punctuation.definition.comment.glsl"
    end: "\\*/"
    endCaptures:
      "0":
        name: "comment.block.glsl"
  }
  {
    comment: "Numeric constants"
    match: "\\b(((0(x|X)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(F|f|lf|LF)?)\\b"
    name: "constant.numeric.glsl"
  }
  {
    comment: "Language constants"
    match: "\\b(false|true)\\b"
    name: "constant.language.glsl"
  }
  {
    comment: "Preprocessor directives"
    match: "^\\s*#\\s*(define|undef|if|ifdef|ifndef|else|elif|endif|error|pragma|extension|version|line)\\b"
    name: "keyword.control.glsl"
  }
  {
    comment: "Basic control keywords"
    match: "\\b(break|case|continue|default|do|else|for|if|return|switch|while)\\b"
    name: "keyword.control.glsl"
  }
  {
    comment: "Basic types"
    match: "\\b(bool|double|float|int|uint|void)\\b"
    name: "storage.type.glsl"
  }
  {
    comment: "Vector types"
    match: "\\b(bvec2|bvec3|bvec4|dvec2|dvec3|dvec4|ivec2|ivec3|ivec4|uvec2|uvec3|uvec4|vec2|vec3|vec4)\\b"
    name: "storage.type.vector.glsl"
  }
  {
    comment: "Matrix types"
    match: "\\b(dmat2|dmat2x2|dmat2x3|dmat2x4|dmat3|dmat3x2|dmat3x3|dmat3x4|dmat4|dmat4x2|dmat4x3|dmat4x4|mat2|mat2x2|mat2x3|mat2x4|mat3|mat3x2|mat3x3|mat3x4|mat4|mat4x2|mat4x3|mat4x4)\\b"
    name: "storage.type.matrix.glsl"
  }
  {
    comment: "Floating point opaque types"
    match: "\\b(image1D|image1DArray|image2D|image2DArray|image2DMS|image2DMSArray|image2DRect|image3D|imageBuffer|imageCube|imageCubeArray|sampler1D|sampler1DArray|sampler1DArrayShadow|sampler1DShadow|sampler2D|sampler2DArray|sampler2DMS|sampler2DMSArray|sampler2DArrayShadow|sampler2DRect|sampler2DRectShadow|sampler2DShadow|sampler3D|samplerBuffer|samplerCube|samplerCubeArray|samplerCubeArrayShadow|samplerCubeShadow)\\b"
    name: "storage.type.float.opaque.glsl"
  }
  {
    comment: "Signed integer opaque types"
    match: "\\b(iimage1D|iimage1DArray|iimage2D|iimage2DArray|iimage2DMS|iimage2DMSArray|iimage2DRect|iimage3D|iimageBuffer|iimageCube|iimageCubeArray|isampler1D|isampler1DArray|isampler2D|isampler2DArray|isampler2DMS|isampler2DMSArray|isampler2DRect|isampler3D|isamplerBuffer|isamplerCube|isamplerCubeArray)\\b"
    name: "storage.type.integer.signed.opaque.glsl"
  }
  {
    comment: "Unsigned integer opaque types"
    match: "\\b(atomic_uint|uimage1D|uimage1DArray|uimage2D|uimage2DArray|uimage2DMS|uimage2DMSArray|uimage2DRect|uimage3D|uimageBuffer|uimageCube|uimageCubeArray|usampler1D|usampler1DArray|usampler2D|usampler2DArray|usampler2DMS|usampler2DMSArray|usampler2DRect|usampler3D|usamplerBuffer|usamplerCube|usamplerCubeArray)\\b"
    name: "storage.type.integer.unsigned.opaque.glsl"
  }
  {
    comment: "Storage qualifiers"
    match: "\\b(attribute|const|in|out|uniform|varying)\\b"
    name: "storage.modifier.glsl"
  }
  {
    comment: "Auxiliary storage qualifiers"
    match: "\\b(centroid|patch|sample)\\b"
    name: "storage.modifier.auxiliary.glsl"
  }
  {
    comment: "Interpolation qualifiers"
    match: "\\b(flat|noperspective|smooth)\\b"
    name: "storage.modifier.interpolation.glsl"
  }
  {
    comment: "Parameter qualifiers"
    match: "\\b(const|in|inout|out)\\b"
    name: "storage.modifier.parameter.glsl"
  }
  {
    comment: "Precision qualifiers"
    match: "\\b(highp|lowp|mediump|precision)\\b"
    name: "storage.modifier.precision.glsl"
  }
  {
    comment: "Memory qualifiers"
    match: "\\b(coherent|volatile|restrict|readonly|writeonly)\\b"
    name: "storage.modifier.memory.glsl"
  }
  {
    comment: "Reserved keywords"
    match: "\\b(active|asm|cast|class|common|enum|extern|external|filter|fixed|fvec2|fvec3|fvec4|goto|half|hvec2|hvec3|hvec4|inline|input|interface|long|namespace|noinline|output|packed|partition|public|resource|row_major|sampler3DRect|short|sizeof|static|superp|template|this|typedef|union|unsigned|using)\\b"
    name: "invalid.illegal.reserved.keyword"
  }
]
scopeName: "source.glsl"
