'menu': [
  'label': 'Stingray'
  'submenu': [
    { 'label': 'Refresh', 'command': 'stingray:refresh' }
    { 'label': 'Toggle Console', 'command': 'stingray:toggle-console' }
    { 'label': 'Run Project', 'command': 'stingray:run-project'}
  ]
]
